* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #D3D3D3;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 8px;
}

button:hover {
  color: #D3D3D3;
}

input {
  border: none;
  outline: none;
}

textarea {
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

select {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.author {
  display: flex;
  align-items: center;
}

.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.author__username {
  margin-bottom: 6px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.author__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.author__status {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #5A7184;
}

.author__data {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}

.author__uswrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.author__namewrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.author__ustext {
  display: flex;
  flex-direction: column;
}

.author__writer {
  display: flex;
}

.articles {
  position: relative;
}

.articles__title {
  font-size: 36px;
  line-height: 48px;
  margin-top: 96px;
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #183B56;
}

.articles__text {
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  color: #5A7184;
  max-width: 670px;
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 32px;
}

.articles-button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: #1565D8;
  border: 2px solid #1565D8;
  background-color: #ffffff;
  position: absolute;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 22px;
  z-index: 99;
}

.articles-arrow {
  margin-left: 8px;
}

.card {
  display: flex;
  justify-content: space-between;
}

.practice {
  position: relative;
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #E5EAF4;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
  z-index: 2;
}

.practice__image {
  max-width: 50%;
  object-fit: cover;
}

.practice__message {
  padding: 32px 48px 32px 32px;
}

.practice__button {
  padding: 6px 12px;
  margin-bottom: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background-color: #36B37E 0.01;
  border: none;
}

.practice__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 48px;
  color: #183B56;
}

.practice__info {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 43px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.swiper-button-prev {
  width: 56px;
  z-index: 99;
}

.swiper-button-prev:after {
  content: '';
}

.swiper-button-next {
  position: absolute;
  width: 56px;
  z-index: 99;
}

.swiper-button-next:after {
  content: '';
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  position: relative;
  overflow: hidden;
}

.header-wrapper {
  position: relative;
  width: 150%;
  top: 0;
  bottom: 0;
  left: -25%;
  right: -25%;
  border-radius: 0 0 40% 40%;
  background-color: transparent;
  overflow: hidden;
  z-index: 0;
}

.header-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #183B56;
  opacity: 65%;
  z-index: -1;
}

.header-wrapper:after {
  content: '';
  position: absolute;
  background: url(../image/header-bg.jpg);
  background-position-x: center;
  background-size: 67%;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  object-fit: cover;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 26px 0;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation__button {
  padding: 13px 24px;
  border-radius: 8px;
  background-color: transparent;
  max-width: 130px;
  height: 50px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.navigation__mobile {
  display: none;
}

.logo__image {
  width: 90px;
  height: 28px;
}

.navbar {
  display: flex;
  margin-right: 82px;
}

.navbar__item {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.navbar__link {
  margin-left: 19px;
}

.navbar__arrow {
  width: 9px;
  height: 16px;
  padding-top: 5px;
  margin-left: 3px;
}

.navbar__select {
  max-width: 95px;
  color: inherit;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background: url(../image/angle-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  appearance: none;
}

.navbar__option {
  width: 95px;
  background-color: #183B56;
  color: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 180px;
}

.search__title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 40px;
}

.search__form {
  position: relative;
  margin-bottom: 25px;
}

.search__input {
  width: 760px;
  height: 56px;
  padding-left: 52px;
  padding-right: 100px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.search__button {
  position: absolute;
  top: 8px;
  right: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 21px;
  border: none;
  background-color: #1565D8;
  color: inherit;
}

.search__image {
  position: absolute;
  top: 23px;
  left: 20px;
}

.tegs__info {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 13px;
}

.tegs__button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 6px 18px;
  margin-right: 15px;
  border-radius: 4px;
}

.container-select {
  display: block;
  height: 22px;
  overflow: hidden;
  max-width: 108px;
  background-color: transparent;
  padding-left: 15px;
  margin-top: -21px;
}

.container-select:hover {
  overflow: visible;
}

.navbar__linker {
  max-width: 100px;
}

.select {
  display: flex;
}

.offers {
  max-height: 380px;
  margin-top: -90px;
}

.offers__button {
  color: #36B37E;
}

.offers__username {
  color: #183B56;
}

.popular__title {
  font-size: 36px;
  line-height: 48px;
  margin-top: 96px;
  margin-bottom: 16px;
}

.popular__text {
  max-width: 670px;
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 32px;
}

.popular__button {
  position: absolute;
  padding: 10px 20px;
  right: 0;
  top: 64px;
  font-size: 16px;
  line-height: 22px;
}

.popular__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 16px;
  max-width: 555px;
  height: 600px;
  padding: 40px 50px 40px;
}

.popular__card:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #152532 100%);
  border-radius: 16px;
  z-index: -1;
}

.popular__card--left {
  background: url(../image/popular-bg1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -2;
}

.popular__card--right {
  background: url(../image/popular-bg2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -2;
}

.popular__arrow {
  margin-left: 8px;
}

.popular__link {
  display: block;
}

.card__button {
  position: absolute;
  padding: 5px 14px;
  top: 32px;
  left: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: #36B37E;
  background-color: #ffffff;
  border-radius: 2000px;
}

.card__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
}

.card__title--left {
  margin-bottom: 73px;
}

.card__username {
  color: #ffffff;
}

.recent__button {
  position: absolute;
  padding: 10px 20px;
  right: 10px;
  top: 50px;
  font-size: 16px;
  line-height: 22px;
}

.recent__link {
  display: block;
}

.recent__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 16px;
  padding: 40px 32px;
  max-width: 360px;
  height: 500px;
}

.recent__card:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #152532 100%);
  border-radius: 16px;
  z-index: -1;
}

.recent__card--left {
  background: url(../image/recent-bg-three.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -2;
}

.recent__card--middle {
  background: url(../image/recent-bg-two.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -2;
}

.recent__card--right {
  background: url(../image/recent-bg-one.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -2;
}

.recent__annotation {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 21px;
}

.recent__annotation--right {
  margin-bottom: 45px;
}

.recent__username {
  font-size: 16px;
  line-height: 22px;
}

.card__title--recent {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 12px;
}

.studies {
  margin-bottom: 50px;
}

.studies__wrapper {
  position: relative;
  display: flex;
}

.studies-wrapper {
  border-radius: 16px;
  height: 380px;
  overflow: hidden;
}

.studies__button {
  right: 13%;
  top: 50px;
  color: #1565D8;
}

.studies-slider {
  width: 100%;
  height: 380px;
}

.studies__image-two {
  width: 60%;
  object-fit: cover;
}

.studies__image-three {
  width: 60%;
  object-fit: cover;
}

.studies__username {
  color: #183B56;
}

.studies__title-two {
  margin-top: 40px;
  margin-bottom: 30px;
}

.studies__title-three {
  margin-top: 40px;
  margin-bottom: 30px;
}

.slider-wrapper {
  position: relative;
}

.slider-button {
  right: 10px;
  top: 50px;
  color: #1565D8;
}

.slider-button-prev {
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #1565D8;
  border-radius: 50%;
  background-image: url(../image/slider-arrow-prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  left: 162px;
  top: 60%;
}

.slider-button-next {
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #1565D8;
  border-radius: 50%;
  background-image: url(../image/slider-arrow-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  right: 162px;
  top: 60%;
}

.all {
  display: flex;
  position: relative;
  color: #ffffff;
  z-index: 99;
}

.all:before {
  content: '';
  position: absolute;
  width: 210%;
  top: 0;
  bottom: -170px;
  left: -55%;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  background-color: #ffffff;
  z-index: -2;
}

.all-wrapper {
  flex-wrap: wrap;
}

.all__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 16px;
}

.all__card:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #152532 100%);
  border-radius: 16px;
  z-index: -1;
}

.all__card--topleft {
  background: url(../image/all-topleft.png);
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 555px;
  height: 600px;
  padding: 40px 50px 40px;
  margin-bottom: 30px;
  z-index: -2;
}

.all__card--topright {
  background: url(../image/all-topright.png);
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 555px;
  height: 600px;
  padding: 40px 50px 40px;
  margin-bottom: 30px;
  z-index: -2;
}

.all__card--bottomleft {
  background: url(../image/all-bottomleft.png);
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 360px;
  height: 500px;
  padding: 40px 32px;
  z-index: -2;
}

.all__card--bottommiddle {
  background: url(../image/all-bottommiddle.png);
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 360px;
  height: 500px;
  padding: 40px 32px;
  z-index: -2;
}

.all__card--bottomright {
  background: url(../image/all-bottomright.png);
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 360px;
  height: 500px;
  padding: 40px 32px;
  z-index: -2;
}

.all__card--mobile {
  display: none;
  background: url(../image/all-bottomright.png);
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 360px;
  height: 500px;
  padding: 40px 32px;
  z-index: -2;
}

.all__annotation--bottommiddle, .all__annotation--bottomright {
  display: flex;
  flex-direction: column;
}

.all__button {
  display: flex;
}

.card__title--bottomleft, .card__title--bottommiddle, .card__title--bottomright {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 12px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.footer {
  position: relative;
  background-color: #1A3245;
  margin-top: 70px;
  padding-bottom: 85px;
  overflow: hidden;
  z-index: 5;
}

.footer-contact-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 175px;
}

.footer__contact-form {
  display: flex;
  flex-direction: column;
  width: 555px;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 48px;
  margin-top: 70px;
}

.footer__input {
  width: 320px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
  padding: 17px;
  border-radius: 8px;
}

.footer__button {
  background-color: #1565D8;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  border: none;
  padding: 16px 48px;
}

.footer__info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #5A7184;
  margin: 0;
  margin-top: 25px;
}

.footer-offers {
  position: relative;
  background-color: #FFFFFF;
  width: 470px;
  height: 390px;
  padding: 8px;
  border-radius: 16px;
}

.footer-offers:before {
  content: '';
  position: absolute;
  left: -61px;
  top: 240px;
  width: 240px;
  height: 200px;
  background-color: #FFFFFF;
  opacity: 0.06;
  border-radius: 16px;
  z-index: -1;
}

.footer-offers:after {
  content: '';
  position: absolute;
  right: -58px;
  top: 53px;
  width: 240px;
  height: 200px;
  background-color: #1565D8;
  border-radius: 16px;
  z-index: -1;
}

.footer-offers__image {
  border-radius: 12px;
  width: 450px;
  height: 212px;
  object-fit: cover;
}

.footer-offers__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #183B56;
  margin-top: 28px;
  margin-left: 32px;
  margin-bottom: 12px;
}

.footer-offers__info {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
  margin: 0;
  margin-left: 32px;
}

.footer__row {
  color: #FFFFFF;
  opacity: 0.06;
  margin-top: 140px;
}

.footer-bottom {
  display: flex;
  margin-top: 130px;
  margin-bottom: 96px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__icon {
  width: 21px;
  height: 21px;
  margin-right: 24px;
}

.footer__icon-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__text {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #5A7184;
  margin-right: 50px;
  margin-bottom: 32px;
}

.footer-list-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-list-over {
  margin-left: -30px;
}

.footer__subtitle {
  margin-right: 115px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #5A7184;
}

.footer__listing {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}

.footer-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-copy-text {
  display: block;
  margin-right: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}

.footer__like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1565D8;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  cursor: pointer;
}

.footer__likeicon {
  margin-right: 0;
  width: 24px;
  height: 28px;
}

.footer__subinfo {
  display: flex;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header-wrapper {
    border-radius: 0;
  }
  .search {
    padding-bottom: 100px;
    padding-top: 50px;
  }
  .offers {
    margin-top: -50px;
  }
  .offers__message {
    padding: 22px 38px 22px 22px;
  }
  .offers__title {
    font-size: 25px;
    line-height: 40px;
  }
  .offers__info {
    font-size: 14px;
    line-height: 25px;
  }
  .offers__username {
    font-size: 12px;
    line-height: 15px;
  }
  .offers__status {
    font-size: 12px;
    line-height: 15px;
  }
  .offers__data {
    font-size: 12px;
    line-height: 15px;
  }
  .popular__card {
    height: 500px;
    width: 65%;
  }
  .popular__card--left {
    margin-right: 8px;
  }
  .recent__card {
    height: 430px;
    width: 45%;
  }
  .recent__card--left {
    margin-right: 15px;
  }
  .recent__card--middle {
    margin-right: 15px;
  }
  .recent__annotation--right {
    margin-bottom: 21px;
  }
  .card__title--recent {
    font-size: 24px;
    line-height: 36px;
  }
  .card__title--topleft, .card__title--topright {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
  }
  .card__title--bottomleft, .card__title--bottommiddle, .card__title--bottomright {
    font-size: 18px;
    line-height: 26px;
  }
  .studies__button {
    right: 9%;
  }
  .studies__title {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .studies__message {
    padding: 22px 38px 22px 22px;
  }
  .studies__text {
    font-size: 15px;
  }
  .studies__info {
    font-size: 14px;
    line-height: 25px;
  }
  .studies__username {
    font-size: 12px;
    line-height: 15px;
  }
  .studies__status {
    font-size: 12px;
    line-height: 15px;
  }
  .studies__data {
    font-size: 12px;
    line-height: 15px;
  }
  .slider-button-prev {
    left: 5%;
  }
  .slider-button-next {
    right: 5%;
  }
  .all:before {
    display: none;
  }
  .all__card--topleft, .all__card--topright {
    height: 400px;
    max-width: 465px;
  }
  .all__card--bottomleft, .all__card--bottommiddle, .all__card--bottomright {
    height: 400px;
    max-width: 290px;
    padding: 40px 20px;
  }
  .all__annotation--bottomleft, .all__annotation--bottommiddle, .all__annotation--bottomright {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;
    line-height: 20px;
  }
  .footer-contact-wrapper {
    padding-top: 100px;
  }
  .footer__row {
    margin-top: 100px;
  }
  .footer-bottom {
    flex-wrap: wrap;
  }
  .footer__icon-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__text {
    flex-direction: row;
  }
  .footer-list-wrapper {
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .logotop__image {
    max-width: 90px;
  }
  .navigation__button {
    padding: 10px 18px;
  }
  .search {
    padding-bottom: 55px;
  }
  .search__input {
    width: 560px;
    height: 40px;
  }
  .search__button {
    top: 4px;
    right: 35px;
    padding: 5px 15px;
  }
  .search__image {
    top: 13px;
    left: 13px;
  }
  .offers {
    margin-top: -30px;
  }
  .offers__image {
    border-radius: 16px 0 0 16px;
  }
  .popular__button {
    margin-top: 15px;
    top: 100%;
    left: 38%;
  }
  .popular__card {
    height: 380px;
  }
  .popular__text {
    font-size: 15px;
    line-height: 32px;
  }
  .card__title--popular {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }
  .card__title--left {
    margin-top: 0;
    margin-bottom: 35px;
  }
  .recent__button {
    margin-top: 15px;
    top: 100%;
    left: 38%;
  }
  .recent__card {
    height: 300px;
    padding: 16px;
  }
  .recent__text {
    font-size: 15px;
    line-height: 32px;
  }
  .recent__annotation {
    font-size: 11px;
    line-height: 24px;
    margin: 0;
  }
  .recent__annotation--right {
    margin-bottom: 23px;
  }
  .recent__avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .recent__username {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .recent__status {
    font-size: 12px;
    line-height: 15px;
  }
  .recent__icon {
    width: 14px;
    height: 14px;
    margin-right: 0;
  }
  .recent__data {
    font-size: 12px;
    line-height: 15px;
  }
  .card__title--recent {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
  }
  .card__title--topleft {
    margin-bottom: 30px;
  }
  .card__title--topright, .card__title--bottomleft, .card__title--bottommiddle {
    margin-bottom: 8px;
  }
  .card__title--bottomright {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .studies__button {
    top: 540px;
    left: 38%;
  }
  .studies__info {
    margin-bottom: 10px;
  }
  .studies__info-two {
    margin-bottom: 30px;
  }
  .studies__info-three {
    margin-bottom: 30px;
  }
  .studies__image-two {
    width: 75%;
  }
  .studies__image-three {
    width: 75%;
  }
  .all__card--topleft, .all__card--topright {
    height: 400px;
    max-width: 330px;
    padding: 20px 30px 20px;
  }
  .all__card--bottomleft, .all__card--bottommiddle, .all__card--bottomright {
    height: 400px;
    max-width: 230px;
  }
  .all__avatar--bottomleft, .all__avatar--bottommiddle, .all__avatar--bottomright {
    width: 30px;
    height: 30px;
  }
  .all__ustext--bottomleft, .all__ustext--bottommiddle, .all__ustext--bottomright {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .all__username--bottomleft, .all__username--bottommiddle, .all__username--bottomright {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .all__status--bottomleft, .all__status--bottommiddle, .all__status--bottomright {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .all__data--bottomleft, .all__data--bottommiddle, .all__data--bottomright {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .footer-contact-wrapper {
    flex-direction: column;
  }
  .footer-offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  .footer-offers:after, .footer-offers:before {
    display: none;
  }
  .footer-offers__image {
    width: 600px;
  }
  .footer-offers__title {
    width: 100%;
  }
  .footer-offers__info {
    margin-left: 30px;
    width: 100%;
    flex-direction: row;
  }
  .footer__contact-form {
    width: 100%;
  }
  .footer-title {
    margin-top: 0;
  }
  .footer__info {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .logotop__image {
    max-width: 90px;
  }
  .navbar {
    margin-right: 10px;
  }
  .navbar__link {
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .navbar__linker {
    font-size: 12px;
    line-height: 18px;
  }
  .navbar__select {
    max-width: 75px;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
  }
  .navbar__option {
    font-size: 12px;
    line-height: 18px;
  }
  .navigation__button {
    padding: 3px;
    max-width: 100px;
    height: 35px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .select__link {
    font-size: 12px;
    line-height: 18px;
    margin-top: 2px;
  }
  .search {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .search__button {
    right: 10px;
  }
  .search__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
  .tegs__button {
    margin-right: 10px;
  }
  .offers__title {
    font-size: 20px;
    line-height: 24px;
  }
  .offers__info {
    font-size: 14px;
    line-height: 24px;
  }
  .offers__username {
    font-size: 14px;
    line-height: 20px;
  }
  .offers__status {
    font-size: 12px;
    line-height: 16px;
  }
  .offers__data {
    font-size: 14px;
    line-height: 20px;
  }
  .offers__icon {
    margin-right: 0;
  }
  .popular-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
  }
  .popular__title {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }
  .popular__text {
    font-size: 11px;
    line-height: 24px;
  }
  .popular__button {
    padding: 9px 18px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    left: 37%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  .popular__card {
    height: 350px;
    width: 100%;
    margin-bottom: 16px;
    padding: 20px;
  }
  .popular__card--left {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .popular__avatar {
    width: 36px;
    height: 36px;
  }
  .popular__username {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .popular__status {
    font-size: 12px;
    line-height: 16px;
  }
  .popular__data {
    font-size: 14px;
    line-height: 20px;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }
  .card__button {
    top: 22px;
    left: 15px;
    font-size: 14px;
    line-height: 20px;
  }
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
  .card__title--left {
    margin-bottom: 20px;
  }
  .recent-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recent__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }
  .recent__text {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    margin-bottom: 13px;
  }
  .recent__button {
    padding: 9px 18px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    top: 100%;
    left: 37%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  .recent__card {
    height: 350px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    padding: 20px;
  }
  .recent__annotation {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  .recent__avatar {
    width: 36px;
    height: 36px;
  }
  .recent__username {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .recent__status {
    font-size: 12px;
    line-height: 16px;
  }
  .recent__data {
    font-size: 14px;
    line-height: 20px;
  }
  .card__title--recent {
    margin-bottom: 15px;
  }
  .studies__button {
    top: 620px;
  }
  .studies-title {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }
  .studies__text {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    margin-bottom: 13px;
  }
  .studies__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .studies__info {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 43px;
  }
  .studies__username {
    font-size: 14px;
    line-height: 20px;
  }
  .studies__status {
    font-size: 12px;
    line-height: 16px;
  }
  .studies__data {
    font-size: 14px;
    line-height: 20px;
  }
  .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all__title {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }
  .all__text {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    margin-bottom: 20px;
  }
  .all__card {
    height: 350px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    padding: 20px;
    background-size: 100%;
  }
  .button-wrapper {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header {
    position: relative;
  }
  .header-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background-color: transparent;
    overflow: hidden;
    z-index: 0;
  }
  .header-wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #183B56;
    opacity: 65%;
    z-index: -1;
  }
  .header-wrapper:after {
    content: '';
    position: absolute;
    background: url(../image/header-bg-media.jpg);
    background-position-x: center;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    object-fit: cover;
  }
  .logotop__image {
    max-width: 77px;
    height: 24px;
  }
  .navbar {
    display: none;
  }
  .navigation {
    width: 100%;
  }
  .navigation__button {
    display: none;
  }
  .navigation__mobile {
    display: flex;
    flex-direction: column;
    height: 22px;
    background-color: transparent;
    border: none;
    z-index: 0;
  }
  .navigation__line {
    width: 22px;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #ffffff;
    z-index: 0;
  }
  .search {
    padding-top: 0;
  }
  .search__title {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .search__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
  }
  .search__image {
    top: 17px;
    left: 20px;
  }
  .search__input {
    width: 95%;
    height: 48px;
    margin: auto;
    margin-bottom: 12px;
    padding-left: 40px;
  }
  .search__button {
    position: static;
    width: 95%;
    height: 48px;
    margin: auto;
  }
  .tegs__info {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-right: 70px;
  }
  .tegs__button {
    margin-right: 8px;
    margin-top: 12px;
  }
  .offers {
    max-height: 450px;
    margin-top: -20px;
    margin-bottom: 50px;
  }
  .offers-wrapper {
    flex-direction: column;
  }
  .offers__image {
    max-width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }
  .offers__title {
    margin-bottom: 0;
  }
  .offers__message {
    padding: 26px 20px 24px;
  }
  .offers__button {
    margin-bottom: 5px;
    margin-top: -5px;
  }
  .offers__info {
    display: block;
    margin-bottom: 24px;
  }
  .offers__username {
    margin-bottom: 2px;
  }
  .popular__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }
  .popular__button {
    left: 20%;
  }
  .popular__card {
    height: 320px;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card__title--left {
    margin-bottom: 45px;
  }
  .recent__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }
  .recent__button {
    left: 20%;
  }
  .recent__card {
    height: 320px;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card__title--left {
    margin-bottom: 45px;
  }
  .practice {
    width: 100%;
  }
  .practice__image {
    max-width: 100%;
    height: 160px;
  }
  .studies-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .studies-title {
    margin-bottom: 12px;
  }
  .studies__title {
    margin-bottom: 0;
  }
  .studies__title-two {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .studies__title-three {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .studies__image {
    max-width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }
  .studies__image-two {
    width: 100%;
  }
  .studies__image-three {
    width: 100%;
  }
  .studies__message {
    padding: 16px 10px 14px;
  }
  .studies__button {
    margin-bottom: 5px;
    margin-top: -5px;
    left: 23%;
  }
  .studies__info {
    display: block;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 18px;
  }
  .studies__username {
    margin-bottom: 2px;
  }
  .slider-container {
    max-width: 100%;
  }
  .slider-button-prev {
    width: 40px;
    height: 40px;
    left: 2%;
  }
  .slider-button-next {
    width: 40px;
    height: 40px;
    right: 2%;
  }
  .all__card {
    height: 320px;
  }
  .all__card--mobile {
    justify-content: flex-end;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */