@media ( max-width: 1200px )
  .container
    max-width: 960px

@media ( max-width: 992px )
  .container
    max-width: 700px

  .logotop

    &__image
      max-width: 90px

  .navigation

    &__button
      padding: 10px 18px

  .search

    &__input
      width: 560px
      height: 40px

    &__button
      top: 4px
      right: 35px
      padding: 5px 15px

    &__image
      top: 13px
      left: 13px

@media ( max-width: 768px )
  .container
    max-width: 576px

  .header

    &-wrappep
      background-image: url(../image/header-bg-media.jpg)

  .logotop

    &__image
      max-width: 90px

  .navbar
    margin-right: 10px

    &__link
      margin-left: 10px
      font-size: 12px
      line-height: 18px

    &__select
      max-width: 75px
      overflow: hidden
      font-size: 12px
      line-height: 18px

      &--item
        font-size: 12px
        line-height: 18px

  .navigation

    &__button
      padding: 3px
      max-width: 100px
      height: 35px
      margin-top: 8px
      font-size: 12px
      line-height: 18px

  .search
    padding-top: 30px

    &__button
      right: 10px

    &__title
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px

  .tegs

    &__button
      margin-right: 10px

@media ( max-width: 576px )
  .container
    max-width: 90%

  .header

    &-wrappep
      height: 480px

  .logotop

    &__image
      max-width: 77px
      height: 24px

  .navbar
    display: none

    &__mobile
      display: flex
      flex-direction: column
      height: 23px
      background-color: transparent
      border: none

    &__line
      width: 22px
      height: 2px
      margin-bottom: 5px
      border-radius: 8px
      background-color: #ffffff

  .navigation

    &__button
      display: none

  .search
    padding-top: 0

    &__title
      margin-bottom: 30px

    &__form
      display: flex
      flex-wrap: wrap
      align-items: center
      margin-bottom: 16px

    &__image
      top: 17px
      left: 20px

    &__input
      width: 95%
      height: 48px
      margin: auto
      margin-bottom: 12px
      padding-left: 40px

    &__button
      position: static
      width: 95%
      height: 48px
      margin: auto

  .tegs

    &__info
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      margin-right: 100px

    &__button
      margin-right: 8px
      margin-top: 12px
