*
  box-sizing: border-box

body
  font-family: "Open Sans", sans-serif
  color: #ffffff

a
  text-decoration: none
  color: inherit

  &:hover
    color: #D3D3D3

img
  max-width: 100%
  max-height: 100%

button
  cursor: pointer
  outline: none
  border-radius: 8px

  &:hover
    color: #D3D3D3

input
  border: none
  outline: none

textarea
  outline: none

ul
  list-style-type: none
  padding-left: 0

select
  cursor: pointer

.container
  max-width: 1140px
  margin: auto

.author
  display: flex
  align-items: center

  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    margin-right: 12px

  &__username
    margin-bottom: 6px
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px

  &__icon
    width: 16px
    height: 16px
    margin-right: 8px

  &__status
    font-family: Open Sans
    font-style: italic
    font-weight: normal
    font-size: 14px
    line-height: 19px
    color: $light

  &__data
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: $light

  &__uswrapper
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

  &__namewrapper
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

  &__ustext
    display: flex
    flex-direction: column

  &__writer
    display: flex

.articles
  position: relative

  &__title
    font-size: 36px
    line-height: 48px
    margin-top: 96px
    margin-bottom: 16px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    color: $dark-roboto

  &__text
    display: inline-block
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    color: $light
    max-width: 670px
    margin-top: 0
    margin-bottom: 48px
    font-size: 18px
    line-height: 32px

  &__button
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    color: $button-color
    border: 2px solid $button-color
    background-color: #ffffff
    position: absolute
    padding: 10px 20px
    font-size: 16px
    line-height: 22px
    z-index: 99

  &__arrow
    margin-left: 8px

.card
  display: flex
  justify-content: space-between

.practice
  position: relative
  display: flex
  background-color: #ffffff
  border-radius: 16px
  border: 1px solid #E5EAF4
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03)
  z-index: 2

  &__image
    max-width: 50%
    object-fit: cover

  &__message
    padding: 32px 48px 32px 32px

  &__button
    padding: 6px 12px
    margin-bottom: 16px
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    background-color: $offers-color 0.01
    border: none

  &__title
    margin: 0
    margin-bottom: 20px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 31px
    line-height: 48px
    color: $dark-roboto

  &__info
    display: flex
    flex-direction: column
    margin: 0
    margin-bottom: 43px
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $light

.swiper

  &-button
    &-prev
      width: 56px
      z-index: 99
      &:after
        content: ''

    &-next
      position: absolute
      width: 56px
      z-index: 99
      &:after
        content: ''
