.header
  background-image: url(../image/header-bg.jpg)
  height: 740px

.navigation
  display: flex
  align-items: center
  justify-content: space-between
  padding: 26px 0

.logo

  &__image
    width: 90px
    height: 28px

.navbar
  display: flex

  &__item
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
