.header
  position: relative
  background-image: url(../image/header-bg.jpg)
  height: 740px
  background-repeat: no-repeat
  object-fit: cover
  background-size: 100%
  overflow: hidden
  z-index: 0

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: #183B56
    opacity: 65%
    z-index: -1

.navigation
  display: flex
  align-items: center
  justify-content: space-between
  height: 100px
  padding: 26px 0

  &__wrappep
    display: flex
    justify-content: space-between

  &__button
    padding: 13px 24px
    border-radius: 8px
    background-color: transparent
    width: 130px
    height: 50px
    color: #FFFFFF
    border: 2px solid #FFFFFF
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px

.logo

  &__image
    width: 90px
    height: 28px

.navbar
  display: flex
  margin-right: 82px

  &__item
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px

  &__link
    margin-left: 19px

  &__arrow
    width: 9px
    height: 16px
    padding-top: 5px
    margin-left: 3px

.search
  display: flex
  align-items: center
  flex-direction: column
  padding-top: 120px
  padding-bottom: 480px

  &__title
    margin: 0
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    margin-bottom: 40px

  &__form
    position: relative
    margin-bottom: 25px

  &__input
    width: 760px
    height: 60px
    padding-left: 52px
    border-radius: 8px
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px

  &__button
    position: absolute
    top: 10px
    right: 8px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    padding: 9px 21px
    border: none
    background-color: $button-color
    color: inherit

  &__image
    position: absolute
    top: 23px
    left: 20px

.tegs

  &__info
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-right: 13px

  &__button
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    background-color: transparent
    color: #FFFFFF
    border: 1px solid #FFFFFF
    padding: 6px 18px
    margin-right: 20px
