@media ( max-width: 768px )

  .navigation

    &--mobile

      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        padding: 0 20px
        z-index: 99
        background-color: black

  .search
    padding-top: 100px

  .practice
    position: static
    margin-top: 40px

  .articles
    position: static

  .all
    position: static

    &__button
      display: inline-block

  .footer
    position: static

    &-contact

      &-wrapper
        position: static

  .popular

    &__button
      margin-bottom: 25px

    &-wrapper
      margin-bottom: 40px

  .articles

    &-button
      position: static
      z-index: -1
      order: 5

  .button

    &-wrapper
      display: block
      padding-left: 30%

  .slider

    &-wrapper
      position: static
